# General Modules
Django>5.2,<5.3
pillow
djangorestframework

# Third-Party Modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
django-mail-templated
django-cors-headers

# reformat and pep8 standards related modules
flake8
black

# test modules
pytest
pytest-django
faker

#background process and caching
redis
celery
django-redis

#production related modules
psycopg[binary]
gunicorn